# Python Virtual Environment
venv/

# Compiled Python files
*.pyc

# Python cache directories
__pycache__/

# Environment variables file
.env

# Logs
logs/

# Data and model artifacts
data/
models/emotion-english-distilroberta-base
models/suicidal-text-electra-cj
db/

# Other artifacts
*.egg-info/
dist/
build/
